.footer{
    clear:both;
    width:100%;
    height:437px;
}
.footer .wrapper{
	width:1150px;
	margin:0 auto;
	border-top:1px solid #e4e6f0;
}
.footer .f-title{
	height:73px;
	padding:28px 0 20px;
	line-height:25px;
	font-size:16px;
	font-weight:600;
	overflow:hidden;
}
.fl{
	float:left;
}
.footer .f-title .fl li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
.footer .f-title .fl li a{
	color:#101d37;
	margin-right:15px;
	text-decoration:none;
}
.footer .f-title .fr{
	color:#3072f6;
	margin-left:20px;
	float:right;
	text-decoration:none;
}
/*detail*/
.footer .lianjia-link-box .fl{
	width:1000px;
}
.footer .lianjia-link-box .fl .tab{
	height:30px;
	overflow:hidden;
}
.footer .lianjia-link-box .fl .tab span{
	height:18px;
	color:#707787;
	float:left;
	margin:0 20px 12px 0;
	cursor:pointer;
	font-size:14px;
	transition:all .3s ease-in-out;
}

.footer .lianjia-link-box .fl .link-list{
	clear:both;
}
.footer .lianjia-link-box .fl .link-list div{
	min-height:74px;
	display:block;
}
.footer .lianjia-link-box .fl dd a{
	color:#b7bbc3;
	font-size:14px;
	display:inline-block;
	margin:0 10px 10px 0;
	text-decoration:none;
}
.footer .lianjia-link-box .fl span:hover{
	display:block;
}


/*logo*/
.footer .partner-logo{
	margin-top:24px;
	overflow:hidden;
	list-style:none;
}
.footer .partner-logo li{
	float:left;
	margin-right:40px;
	background:#fff;
}
.footer .partner-logo li a{
	text-decoration:none;
	cursor:pointer;
}
.footer .partner-logo li img{
	display:block;
	height:40px;
	background:#fff;
}
/*bottom*/
.footer .bottom{
	height:80px;
	margin-top:24px;
}
.footer .bottom .copyright{
	color:#b7bbc3;
	font-size:14px;
	line-height:20px;
}
.footer .bottom .copyright.f3>img{
	vertical-align:top;
}