body{
	font-size:14px;
}
.g-main{
    width:1903px;
    height:1264px;
    color:#101d37;
	padding-top:20px;
	padding-bottom:50px;
}
.g-main *{
	box-sizing:border-box;
}
.g-main .m-jumbotron{
    width:1903px;
    height: 134px;
    text-align: center;
    background-color: #f5f5f6;
}
.g-main .m-jumbotron .title{
    font-weight:700;
    color:#101d37;
    font-size:33px;
}
.g-main .m-jumbotron .subtitle{
    margin-top:15px;
    color:#878787;
    font-size:16px;
}
.g-main .m-form{
    width:990px;
    margin:0 auto;
    margin-top:55px;
}
.g-main .m-form .form-box{
    height:440px;
}
/*left*/
.g-main .m-form .form-box .box-l{
    width:590px;
	height:430px;
    float:left;
	color:#9399a5;
/*	background-color:#ff0;*/
}
.g-main .m-form .form-box .box-r{
    width:340px;
	height:395px;
    float:right;
	background-color:#f5f5f6;
	box-shadow:0 3px 7px 0 rgba(0,0,0,.14);
}
/* 小区所在城市 */
.m-entry{
    color: #9399a5;
}
.m-entry dl.compact{
    padding:0px;
    padding-bottom:25px;
    line-height:1;
	margin:0;
	height:40px;
	border-bottom: 1px solid #eee;
}
.m-entry dt{
    float:left;
    color:#101d37;
    font-weight:700;
    width:120px;
}
.m-entry .city-select{
    width:270px;
    display:block;
    cursor:pointer;
	overflow:hidden;
}
.m-entry dd{
	position:relative;
	float:left;
	width:470px;
	margin:0px;
	padding:0px;	
}
.m-entry dd>*{
	float:left;
}
.m-entry .city-select .link-btn{
	margin-left:60px;
	color:#3072f6;
}
/*小区*/
.m-entry dl{
	height:65px;
	padding:12px 0;
	line-height:40px;
	border-bottom:1px solid #eee;
	margin:0;

}
.u-sug{
	position:relative;
	width:100%;
}
.m-entry .sugInput{
	width:100%;
}
.m-entry input{
	border:none;
	height:40px;
	line-height:20px;
	padding:10px 0;
	outline:none;
}
/*房屋地址*/
.u-select .u-select-build{
	padding:5px 10px;
}
.u-select:first-child{
	margin-left:0;
}
.u-select{
	position:relative;
	width:146px;
	height:40px;
	line-height:20px;
	margin-left:16px;
	border-radius:1px;
	color:#aaa;
	font-size:12px;
	background-color: #f5f5f6;
}
.u-select.u-select-build input{
	height:30px;
	padding:5px 0;
	line-height:25px;
	background-color: transparent;
}
/*期望售价*/
input.price{
	width:210px;
}
.m-entry .unit{
	font-weight:700;
	color:#101d37;
}
.m-entry .link-gujia{
	float:right;
	color:#009de8;
	font-size:12px;
	text-decoration:none;
}
/*称呼*/
input.uname{
	width:250px;
}
input.con{
	width:250px;
}
/*图形验证码*/
input.verify{
	width:170px;
}
.m-entry .btn-getcode-sms{
	float: right;
    width: 145px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 1px;
    cursor: pointer;
    font-size: 12px;
    background-color: #fdfdfd;
    color: #666;
    height: 38px;
}
img.pho{
	width:100%;
	height:100%;
	border:0;
	vertical-align: top;
}
/*right*/
[data-component=dealCard] .hd{
	position:relative;
	padding:22px 30px;
	height:90px;
	line-height:1;
	color:#fff;
	background:#101d37;
}
/*left*/
[data-component=dealCard] .hd .tit{
	height:14px;
}
[data-component=dealCard] .hd .sub-tit{
	margin-top:10px;
	height:22px;
	font-size:22px;
}
[data-component=dealCard] .hd .sub-tit .num{
	font-weight:700;
}
/*code*/

[data-component=dealCard] .hd .btn-qrcode {
	width:18px;
	height:18px;
	position:absolute;
	z-index:1;
	right:10px;
	top:10px;
}
[data-component=dealCard] .hd .icon-qrcode{
	background-image:url(/imgs/code.jpg);
	width:18px;
	height:18px;
	cursor:pointer;
}
[data-component=dealCard] .hd .icon-qrcode{
/*	display:none;*/
	background-image:url(/imgs/getDownloadQr.png);
	background-position:0 0;
	width:196px;
	height:238px;
	position:absolute;
	top:-40px;
	left:-200px;
	padding:28px 40px 28px 32px;
	line-height:1;
	text-align:center;
}
[data-component=dealCard] .hd .btn-qrcode:hover hd:nth-child(2){
	display:block;
}
[data-component=dealCard] .hd .layer-qrcode .icon-qrcode{
	background:none;
	width:100%;
	height:auto;
}
[data-component=dealCard] .hd .layer-qrcode .icon-qrcode img{
	width:100%;
}
[data-component=dealCard] .hd .layer-qrcode .txt{
	margin-top:22px;
	font-weight:700;
	color:#101d37;
}
[data-component=dealCard] .hd .layer-qrcode .sub-txt{
	margin-top:8px;
	font-size:12px;
	color:#9399a5;
}

/*bottom*/
div.relatedhouse{
	width:340px;
	height:305px;
}
[data-component=dealCard] .bd{
	height:245px;
	position:relative;
	line-height:1;
	padding:8px 28px 0;
	margin:0px;
}
[data-component=dealCard] .bd li{
	padding:20px 0;
	position:relative;
	border-bottom:1px solid #e6e6e6;
	list-style:none;
}
[data-component=dealCard] .bd .tit{
	display:block;
	color:#101d37;
	font-weight:700;
	line-height:20px;
	cursor:pointer;
	text-decoration:none;
}
[data-component=dealCard] .bd .time{
	margin-top:6px;
	display:block;
	color:#aaa;
	font-size:12px;
}
[data-component=dealCard] .bd .num{
	position:absolute;
	right:0;
	bottom:22px;
	font-weight:700;
	color:#e4393c;
}
[data-component=dealCard] .ft{
	text-align:center;
}
[data-component=dealCard] .ft a{
	font-size:12px;
	line-height:60px;
	color:#9399a5;
	text-decoration:none;
}
/*submit*/
.m-submit{
    margin-top:60px;
}
.m-submit .btn-submit{
 margin:0px auto;
 margin-left:400px;
 width:190px;
 line-height:55px;
 font-size:18px;
 color:#fff;
 text-align:center;
 border-radius:2px;
 background-color:#3072f6;
 cursor:pointer;
}
/*process*/
.g-main .m-process{
	width:990px;
	margin:0 auto;
	margin-top:55px;
	margin-bottom:60px;
}
.g-main .m-process .hd{
	position:relative;
	text-align:center;
	color:#666;
	border-bottom:1px solid #eee;
}
.g-main .m-process .bd{
	padding: 0px;
	padding-top:45px;
	list-style:none;
	height:93px;
	margin:0px;	
}
.g-main .m-process .bd li:first-child{
	margin-left:0;
}
.g-main .m-process .bd li{
	position:relative;
	float:left;
	width:195px;
	margin-left:70px;
	padding-left:58px;
}
.g-main .m-process .bd .icon{
	width:48px;
	height:48px;
	position:absolute;
	left:0;
	top:0;
	background:#d0d1d2;
	border-radius:50%;
	font-size:35px;
	text-align:center;
	color:#fff;
}
.g-main .m-process .bd .tit{
	font-weight:700;
	font-size:20px;
	line-height:28px;
}
.g-main .m-process .bd .sub-tit{
	font-size:12px;
	line-height:20px;
	color:#9399a5;
}
.g-main .m-gujia{
	padding:60px 0;
	background-color:#000;
	width:100%;
	height:174px;
}
.g-main .m-gujia .wrap{
	width:990px;
	height:54px;
	margin:0 auto;
}
.g-main .m-gujia .text{
	float:left;
	color:#fff;
	line-height:1;
}
.g-main .m-gujia .text .tit{
	font-size:28px;
}
.g-main .m-gujia .text .sub-tit{
	margin-top:12px;
}
.g-main .m-gujia .btn-gujia{
	position:relative;
	float:right;
	font-size:20px;
	line-height:54px;
	background:#666;
}
.g-main .m-gujia .btn-gujia .mark{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity:.1;
	cursor:pointer;
}
.g-main .m-gujia .btn-gujia .icon-money img{	
    width:24px;
    height:26px;
    float:left;
    margin-top:14px;
    margin-left:20px;
	opacity:.3;
}

.g-main .m-gujia .btn-gujia .txt{
	width:400px;
	height:54px;
	float:left;
	width:400px;
	margin-left:20px;
	color:#e1dfd6;
}
.g-main .m-gujia .btn-gujia .icon-gujia{
	width:155px;
	height:54px;
	position:relative;
	z-index:1;
	float:right;
	padding-right:24px;
	text-align:center;
	font-weight:700px;
	text-decoration:none;
	background:#eee;
	color:#000;
}