*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

a{
    color:#666;
    text-decoration:none;
}


.container{
    width:1180px;
    margin:0 auto;
}
h5{
    width:100%;
    font-size: 16px;
    color:#666;
    margin:10px 0px 20px 0px;
}
.search{
    width:100%;
    border:1px solid #aaa;
    margin-bottom:20px;
    border-radius: 5px;
}


/* 商品搜索 */
.search .resolution,.search .option{
    width:100%;
    height:40px;
    display: flex;
    position: relative;
    border-bottom:1px dashed #ccc;
}
.search .left{
    width:10%;
    padding-left:20px;
    background:#ddd;
    line-height: 37px;
    font-size: 16px;
    color:#666;
    float: left;
}
.search .right{
    width:90%;
}
.search .right ul,.search .search_model ul{
    width:80%;
    height:100%;
    list-style: none;
    float: left;
    line-height: 37px;
    box-sizing: border-box;
}
.search .right ul li,.search .search_model ul li{
    height:100%;
    padding:0px 20px;
    float: left;
    cursor: pointer;
}
.search .right ul li.on,.search .search_model ul li.on{
    color:#f00;
    background-image: url(../../../public/img/background/on.png);
    background-position: bottom right;
    background-repeat:no-repeat; 
    border:1px solid #f60;
}

.search .right div{
    width:20%;
    height:100%;
    float: right;
}
.search .right div div{
    width:60px;
    height:30px;
    margin:5px 5px;
    line-height: 27px;
    border:1px solid #ddd;
    color:#666;
    float: left;
}
.search .right div .more{
    padding-left:7px;
    cursor: pointer;
}
.search .right div .chb{
    background-image: url(../../../public/img/background/加号.png);
    background-position: center left;
    background-size:20px 20px;
    background-repeat:no-repeat; 
    padding-left:20px;
    cursor: pointer;
}

 /*多选框*/
 .search .multify{
    width:100%;
    border:3px solid #f0f;
    box-shadow:0 0 15px #ff0;
    background: #fff;
    zoom: 1;
    clear: both;
    position: absolute;
    left:0px;
    top:0px;
}
.search .multify .left_more{
    width:10%;
    height:100%;
    padding-left:10px;
    background:#fffdee;
    font-size: 16px;
    color:#666;
    float: left;
}
.search .multify .right_more{
    width:90%;
    float: left;
}
.search .multify .right_more ul{
    width:100%;
    list-style: none;
    float: left;
    line-height: 37px;
    text-align: center;
}
.search .multify .right_more ul li{
    height:100%;
    padding:0px 20px;
    float: left;
}
.search .multify .right_more ul li:hover{
    color:#f00;
}
.search .multify .right_more ul li a{
    color: #005aa0;
}
.search .multify .right_more ul button.confirm{
    width:52px;
    height:25px;
    border: 1px solid #DDD;
    background: #f00;
    color: #fff;
    cursor: pointer;
}
.search .multify .right_more ul button.cansel{
    width:52px;
    height:25px;
    border: 1px solid #DDD;
    color: #666;
    cursor: pointer;
}

/* 普通样式搜索 */
.search .search_price,.search .search_area,.search .search_model{
    width:100%;
    height:40px;
    display: flex;
    border-bottom:1px dashed #ccc;
}
.search .search_price .right,.search .search_area .right{
    width:90%;
    display: flex;
    align-items: center;
}
.search .search_price .right ul,.search .search_area .right ul{
    width:76%;
    height:100%;
    overflow: hidden;
}
.search .search_price div.input,.search .search_area  div.input{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .search_price div input,.search .search_area div input{
    width:40px;
    height:25px;
    margin:0px 5px;
}

/* .search .search_model ul{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.search .search_model ul li{
    list-style: none;
    padding:5px 15px;
}
.search .search_model ul li label{
    cursor: pointer;
}
.search .search_model ul li label input{
    margin:5px;
} */



/* 高级选项 */
.option div.menu{
    width:9%;
    height:30px;
    border:1px solid #ddd;
    background-image: url(../../../public/img/background/大于号_下.png);
    background-position: center right;
    background-size:20px 20px;
    background-repeat:no-repeat; 
    color: #005aa0;
    padding:3px 3px;
    margin:4px 20px;
    position: relative;
}
.option div.menu .menu_list1{
    width:1180px;
    height:60px;
    background: #fff;
    list-style: none;
    line-height: 50px;
    border:1px solid #ddd;
    box-sizing: border-box;
    position: absolute;
    top:29px;
    left:-141px;
    border-radius: 0px 0px 5px 5px;
    border:1px solid #f00;
    z-index: 2;
    box-sizing: border-box;
    display: none;
}
.option div.menu .menu_list1 .chb{
    width: 60px;
    height: 30px;
    border:1px solid #ddd;
    background-image: url(../../../public/img/background/加号.png);
    background-position: center left;
    background-size:20px 20px;
    background-repeat:no-repeat; 
    padding-left:20px;
    cursor: pointer;
    float: right;
    margin: 15px 20px;
    line-height: 28px;
}
.option div.menu .menu_list1 li{
    width:140px;
    font-size:14px;
    float: left;
    margin:5px;
    margin-left:10px;
}
.option div.menu .menu_list1 li a{
    color: #005aa0;
}

.option div.menu:hover .menu_list1{
    display: block;
}
.option div.menu:hover{
    border:1px solid #aaa;
    border-bottom:0;
    background-image: url(../../../public/img/background/大于号_上.png);
}


.option div.d1{
    width:1180px;
    position: absolute;
    top:30px;
    left:-3px;
    text-align: center;
    border: 3px solid #f0f;
    box-shadow: 0 0 15px #ff0;
    padding:5px;
    display: none;
}
.option  div.d1 .menu_list2{
    width:100%;
    list-style: none;
    float: left;
    line-height: 37px;
    text-align: center;
    background:#fff;

}
.option  div.d1 .menu_list2 li{
    height:100%;
    padding:0px 20px;
    float: left;
}
.option  div.d1 .menu_list2 li:hover{
    color:#f00;
}
.option  div.d1 .menu_list2 li a{
    color: #005aa0;
}

.option  div.d1 button.confirm{
    width:52px;
    height:25px;
    border: 1px solid #DDD;
    background: #f00;
    color: #fff;
    cursor: pointer;
    display: none;
}
.option  div.d1 button.cansel{
    width:52px;
    height:25px;
    border: 1px solid #DDD;
    color: #666;
    cursor: pointer;
}

/* 普通下拉菜单 */

.option select{
    width:9%;
    height:30px;
    border:1px solid #ddd;
    color: #005aa0;
    padding:3px 3px;
    margin:4px 20px;
    background:#fff;
}








/*左边房源*/
.sale{
    width:100%;
    display: flex;
    border:1px solid #eee;
}
.sale .sale_detail{
    width:80%;
    display: flex;
    flex-direction: column;
    margin-right:40px;
}
.sale .sale_detail .detail a{
    width:100%;display: flex;
    border-bottom:1px solid #ddd;
    padding:10px;
}
.sale .sale_detail .detail img{
    width:25%;
    height:160px;
}
.sale .sale_detail .detail .detail_right{
    width:75%;
    padding:0px 20px 0px 40px ;
 }
.sale .sale_detail .detail h4{
    font-size:20px;
    margin:10px 0px;
}
.sale .sale_detail .detail .subtitle{
    font-size:16px;
    display:inline-block;
    margin-bottom:10px;
}
.sale .sale_detail .detail .address{
    font-size:12px;
    margin-bottom:10px;
}
.sale .sale_detail .detail .tags{
    display:inline-block;
    margin-bottom:10px;
}
.sale .sale_detail .detail .tags span{
    color: #799374;
    background: #f2f6ed;
    font-size: 12px;
    margin:0px 10px;
}

.sale .sale_detail .detail .detail_bottom{
    display:flex;
    justify-content: space-between;
}
.sale .sale_detail .detail .detail_bottom p:first-child span:first-child{
    background-image: linear-gradient(-90deg,#02c26d 0,#7ed665 100%);
    font-size: 12px;
    color: #fff;
    padding:3px;
}
.sale .sale_detail .detail .detail_bottom p:first-child span:last-child{
    border: 1px solid #02c26d;
    font-size: 12px;
    padding:3px;
    border-left: none;
}
.sale .sale_detail .detail .detail_bottom p:last-child span:first-child{
    color: #e54b00;
    font-size: 20px;
}
.sale .sale_detail .detail .detail_bottom p:last-child span:last-child{
    font-size: 12px;
    color: #999;
}

/*右边推荐房源*/

.sale .sale_right{
    width:20%;
    border:1px solid #ddd;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sale .sale_right h3{
    width:100%;
    padding:5px 10px 5px 10px;
    border-bottom:1px dashed #ddd;
}
.sale .sale_right .pro_rec{
    width:100%;
    padding:10px;
    text-align: center;
    background: #eee;
}
.sale .sale_right .pro_rec img{
    width:200px;
}
.sale .sale_right .pro_rec p.title{
    width:100%;
    height:23px;
    color:#666;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sale .sale_right .pro_rec p.price{
    display: flex;
    justify-content: space-between
}
.sale .sale_right .pro_rec p.price span:first-child{
    color: #e54b00;
    font-size: 16px;
}
.sale .sale_right .pro_rec p.price span:last-child{
    color: #aaa;
    font-size: 14px;
}

/* 热门问答 */
.sale .sale_right .question{
    width:100%;
}
.sale .sale_right .question ul{
    width:100%;
    padding:10px;
}
.sale .sale_right .question ul li{
    width:100%;
    list-style: none;
    padding:5px;
    margin:5px 0px;
    border-bottom:1px dashed #666;
    
}
.sale .sale_right .question ul li span{
    width:100%;
    height:100%;
    display: inline-block;
}
.sale .sale_right .question ul li span p{
    margin:0px;
}
.sale .sale_right .question ul li p.question{
    width:90%;
    font-size: 14px;
    color:#666;
    overflow: hidden;
    white-space: nowrap;   /*段落不换行*/
    text-overflow: ellipsis;
    display: inline-block;
}
.sale .sale_right .question ul li a:hover{
    color:#f00;
}
.sale .sale_right .question ul li p.btn{
    width:10%;
    height:20px;
    display: inline-block;
    background-size:20px 20px;
    background:url(../../../public/img/background/大于号_下.png) no-repeat center left;
}
/* .sale .sale_right .question ul li p.btn.open{
    background:url(../../../public/img/background/大于号_上.png) no-repeat center left;
    background-size:20px 20px;
} */
.sale .sale_right .question ul li div{
    width:100%;
    color:#aaa;
    font-size: 12px;
}


/* 房价趋势 */
.sale .sale_right .line p{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:10px 0px;
}
.sale .sale_right .line p span:first-child{
    font-size: 14px;
    color:#aaa;
}
.sale .sale_right .line p span:last-child{
    font-size: 14px;
    color:#666;
}
.sale .sale_right .line div{
    width:200px;
    height:200px;
    margin:0 auto;
}
.sale .sale_right .line img{
    width:100%;
    height:100%;
}

/* 轮播图 */
.sale .sale_right .carousel{
    width:100%;
    padding:10px;
    background: #eee;
    border:1px dashed #ddd;
}

/*分页*/

.sale .sale_detail .page{
    width:100%;
    height:50px;
    clear: both;
    margin:10px 0px;
}
.sale .sale_detail .page ul{
    height:100%;
    float: right;
    box-sizing: border-box;
    padding:9px;
    display: flex;
    list-style:none;
}

.sale .sale_detail .page ul li{
    width:30px;
    height:30px;
    border-radius:5px;
    border:1px solid #666;
    margin:0px 5px;
    line-height: 25px;
    text-align: center;
}
.sale .sale_detail .page ul li:first-child,.sale .sale_detail .page ul li:last-child{
    width:50px;
    height:30px;
    border-radius:5px;
    margin:0px 5px;
    line-height: 25px;
    background: #7ed665;
}
.sale .sale_detail .page ul li:first-child.disabled{
    background: #fff;
}
.sale .sale_detail .page ul li:last-child.disabled{
    background: #fff;
}
.sale .sale_detail .page ul li.active{
    background: #7ed665;
}
.sale .sale_detail .page ul li a{
    display: inline-block;
    width:100%;
    height:100%;
}




@media screen and (max-width: 1200px) {
    .nav{display: none}
}
/* 导航栏 */
.nav{
    width:40px;
    height:100%;
    border-left:1px solid #ddd;
    position: fixed;
    top:0px;
    right:0px;
    z-index: 2;
    background: #eee;
}
.nav .side_top{
    width:100%;
    text-align: center;
    position: absolute;
    top:30%;
}
.nav .side_bottom{
    width:100%;
    position: absolute;
    top:96%
}
.nav .side_top a,.nav .side_bottom a{
    display: inline-block;
    width:100%;
    position: relative;
    padding:5px 0px;
    box-sizing: border-box;
    text-align: center;
}

.nav .side_top a p{
    font-size: 14px;
    color:#666;
}
.nav .side_top a div{
    width:90px;
    background: #666;
    position: absolute;
    top:0px;
    right:37px;
    font-size: 16px;
    padding:13.5px 10px;
    color:#fff;
    transition: all .3s linear;
    display: none
}
.nav .side_bottom a div{
    width:90px;
    background: #666;
    position: absolute;
    top:0px;
    right:37px;
    font-size: 15px;
    padding:4px 10px;
    color:#fff;
    transition: all .3s linear;
    display: none;
}
.nav .side_top a:hover div,.nav .side_bottom a:hover div{
    display: block;
} 
.nav .side_top a:hover,.nav .side_bottom a:hover{
    background:#62ab00;
}



